body#page-login-index {
    #region-main {
        padding-top: 0;
    }

    #page-wrapper {
        position: relative;
        min-height: 100vh;
        height: auto;
    }

    #page {
        background: none;
        #card-login,
        #card-login-instructions {
            margin-top: 10px;
            border-radius:20px; 
            margin-left: 10px;
            padding: 10%;
            
        }
    }

    #page-content {
        margin: 0 auto 2rem;
    }

    #region-main-box {
        padding-top: 60px;
    }

    .card {
        @extend %border-frequency;
    }

    .card-header {
        background-color: transparent;
    }

    &.style-particles {
        canvas.particles-js-canvas-el {
            position: absolute;
            top: 0;
            z-index: -1;
            background-color: $particles-bg;
        }
    }

    &.style-image {
        #page-wrapper {
            background-image: url($login-backgroundimage);
            background-position: top center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    .input-icons i {
        position: absolute;
        margin-top: 15px;
        margin-left: 20px;
        
    }
      
    .input-icons {
        width: 100%;
        margin-bottom: 10px;
    }
      
    .icon {
        padding: 10px;
        min-width: 40px;
    }
      
    .input-field {
        width: 100%;
        padding: 0;
        text-align: center;
    }
    #logo-login{
        margin-right:250px; 
        padding-right:100px;
    }

    #loginbtn{
        background-color: #5dd240;
    }

    //LOGIN INSTITUTE ICONS
    #institutes{
        padding: 30px;
       }
    

}
